#overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    width: 400px; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.class123 {
    color: white;    
    font-family: 'Courier New', Courier, monospace;
    font-size: 10;
}